:root{
    --font-300: 20px;
    --font-400: 16px;
    --font-500: 30px;
    --font-600: 40px;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.canvas-container {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.page {
	position: relative;
	z-index: 2;
}

section{
    min-height: 100vh;
    scroll-snap-align: start;
}

p{
    text-align: justify;
    text-justify: inter-word;
}

/* --- nav --- */
.nav{
  position: fixed;
  height: 50vh;
  top: 25%;
  right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nav a{
    width: 40px;
    height: 40px;
    border: none;
    background-color: hsl(0, 0%, 50%);
    border-radius: 50%;
}
.nav a:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 20%);

}


/* --- home --- */
.home{
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.home p{
    margin-bottom: 20vh;
    font-weight: 700;
    font-size: var(--font-500);
}


/* --- aea --- */
.aea{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.aea-holder{
    width: 50vw;
    margin-right: 10vw;
    background-color: #222;
}
.aea-holder h2{
    font-size: var(--font-600);
}
.aea-holder p{
    font-size: var(--font-400);
    font-weight: 600;
}



/* --- missoin --- */
.mission{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.mission-holder{
    width: 50vw;
    margin-left: 10vw;
    background-color: #555;
}
.mission-holder h2{
    font-size: var(--font-600);
}
.mission-holder p{
    font-size: var(--font-400);
    font-weight: 600;
}




/* --- collab --- */
.collab{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.collab-holder{
    width: 30vw;
    margin-left: 10vw;
    margin-top: 10vh;
    background-color: #222;
}
.collab-holder h2{
    font-size: var(--font-600);
}
.collab-holder p{
    font-size: var(--font-400);
    font-weight: 600;
}
/* --- contact --- */
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-holder{
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: space-between;
    background-color: #555;
}
.contact-holder .imgsvg{
    height: 300px;
    width: 100%;
    background-color: #222;
}
.contact-holder .contact-grid{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    
}

@media (min-width: 800px){
    :root{
        --font-300: 20px;
        --font-400: 12px;
        --font-500: 30px;
        --font-600: 35px;
	}
}
@media (min-width: 1000px){
    :root{
        --font-300: 20px;
        --font-400: 14px;
        --font-500: 30px;
        --font-600: 40px;
	}
}
@media (min-width: 1200px){
    :root{
        --font-300: 20px;
        --font-400: 16px;
        --font-500: 30px;
        --font-600: 40px;
	}
}
@media (min-width: 1400px){
    :root{
        --font-300: 20px;
        --font-400: 24px;
        --font-500: 30px;
        --font-600: 40px;
	}
}
/* 
@media (min-width: 1500px){
	:root{
		--font-300: 20px;
        --font-400: 25px;
        --font-500: 30px;
        --font-600: 50px;
	}
} */
