*{
    font-size: 20px;
    border: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #292C3B;
    color: #E8E8FF;
    font-family: Arial;
}

/* ------------------------------------------------------  MAIN  */
.main{
    /* background-image: url('./vecteezy_abstract_flat_solid_colors_background_DP1020_vecteezy_abstract_flat_solid_colors_background_DP1020.jpg'); */
    background-image: url('./wall.jpg');
    background-size: cover;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 160px auto auto auto 160px;
    
}
/* ------------------------------------------------------  HEADER  */

.header{
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header a{
    font-size: 30px;
    text-decoration: none;
    color: #E8E8FF;
}

/* ------------------------------------------------------  INTRO  */

.introduction{
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    padding: 100px 100px;
    justify-content: space-between;
    gap: 50px;
}
.introduction .greeting{
    max-width: 50vw;
}

.introduction .greeting h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.introduction .greeting p{
    font-size: 30px;
}

.introduction .profile {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduction .profile .pfp{
    width: 300px;
    height: 360px;
    background-image: url('./profile.jpg');
    background-size: cover;
    background-position: center;
}

/* ------------------------------------------------------  PROJECT  */
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    gap: 150px;
}

.project h1{
    font-size: 30px;
}

.project .focus{
    position: relative;
    width: 90%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    padding:  50px 50px;
    transition: height 1s;
}

.project .focus .proj{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
.project .focus .proj.active{
    display: grid;
}
.project .focus .proj.off{
    display: none;
}

.project .focus .proj h1{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    padding: 0 0 50px 0;
}

.project .focus .proj p{
    padding: 0 0px 0 0 ;
}

.project .focus .proj .projectImgs{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 40px;
    justify-content: center;
}

.project .focus .proj .projectImgs img{
    width: 200px;
    height: 200px;
}

.project .focus .nextprev{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;
    gap: 80px;
}
.project .focus .nextprev .next,
.project .focus .nextprev .prev{
    color: #E8E8FF;
    background-color: transparent;
    border: #E8E8FF solid 1px;
    width: 80px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    /* padding: 20px; */
    
}
.project .focus .nextprev .next:hover,
.project .focus .nextprev .prev:hover{
    cursor: pointer;
    color: black;
    background-color: #E8E8FF;
}



/* ------------------------------------------------------  SKILLS  */

.skills{
    padding: 50px 125px;
}
.skills .backdrop{
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 50px;
}
.skills .backdrop h1{
    font-size: 30px;
}
.skills .backdrop .skillList{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.skills .backdrop .skillList .ski{
    display: grid;
    grid-template-columns: 200px auto ;
    align-items: center;
}
.skills .backdrop .skillList .ski .skimg{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E8E8FF;
    border-width: 0 1px 0 0 ;
    padding: 0 20px 0 0;
}
.skills .backdrop .skillList .ski p{
    padding: 10px 20px 10px 40px;
}



/* ------------------------------------------------------  FOOTER  */

.footer{
    background-color: #242632;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.footer .list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer .list .info{
    display: flex;
    gap: 20px;
    font-size: 20px
}
.footer .list .info a{
    color: white;
}

.phone,.email,.git{
    width: 20px;
    height: 20px;
    background-size: contain;
}
.phone{
    background-image: url('./phone.png');
}
.email{
    background-image: url('./emailedit.png');
}
.git{
    background-image: url('./gitedit.png');
}